/* 
    Created on : 21-Nov-2014, 5:20:14 AM
    Author     : Angela Pang
*/

html, body {
    height: 100%;
    width: 100%;

    background-color: #222;
}

p {
    font-size: 14px;
}

/*** No Script ***/
noscript {
    width: 100%;
    font-size: 24px;
    background-color: #f00;    
    padding-top: 0.5em;
    padding-bottom: 0.5em;    
    text-align: center
}

/*** Navigation Bar ***/
.navbar-inverse {
    border: none;
    background-color: transparent;
}

.navbar .container-fluid, .navbar .navbar-collapse {
    padding-right: 0;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff; 
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #fff;
    background-color: #0A8945;
}

.logoDiv img, .socialMediaDiv a, .logoDiv a:hover, .logoDiv a{
    text-align: center;
    background-color: transparent;
}

.socialMediaDiv {
    padding: 15px 15px 0 0;
    height: 78px;
    float: right;
}

.socialMediaDiv img {
    width: 35px;
    height: auto;
}

/*** Page Content ***/
.container-fluid {
    height: 100%;
}

.content {
    position: relative;
    margin: auto;

    /*overflow:auto;*/
    width: 1100px;
    min-height: 100%;
}

.updateInfo {
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 1em;
    max-width: 1100px;
    margin: auto;   
}

.item img {
    max-height: 500px;
}

/*** Footer ***/
.footer {
    position: absolute;
    width: 100%;
    bottom: 0px;
    color: #fff;
    background-color: #555;
    padding: 0.5em 1em 0.5em 1em;
}


/*** Triangles ***/
/* 
 * Triangle Ref: http://css-tricks.com/snippets/css/css-triangle/ 
 */

.trihero2 {
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;

    border-top: 20px solid #f00;
}


.trihero{
    width: 25%;
    height: 0;
    padding-left: 25%;
    padding-top: 25%;
    overflow: hidden;
}
.trihero div {
    width: 0; 
    height: 0;
    /*margin-left:-500px;
    margin-top:-500px;*/
    margin: -100px;

    border-left: 500px solid transparent;
    border-right: 500px solid transparent;
    border-top: 500px solid #0A8945;
}

.heroBottom div {
    float: left;
}

.triangle-down {
    padding-left: 42%;
    overflow: hidden;
    box-sizing: initial;
    padding-top: 4.5%;
    width: 58%;
}

.triangle-down div {
    width: 0px;
    height: 0px;
    margin-left: -500px;
    margin-top: -50px;
    border-left: 600px solid transparent;
    border-right: 600px solid transparent;
    border-top: 45px solid #0A8945;
}

/*
 * Original Code From: https://github.com/mqchen/jquery.diamonds.js
 */
.diamond-box {
    transform: rotate(45deg);
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    z-index: 1;
    width: 70.7107%;
    height: 70.7107%;
    margin: 14.6447%;
    border: 1px solid transparent;
}


.diamond-box-inner {
    transform: rotate(-45deg);
    transform-origin: center center 0px;
    box-sizing: border-box;
    width: 141.421%;
    height: 141.421%;
    margin: -20.7107% 0px 0px -20.7107%;
}

.diamond-box-inner a:hover:after {
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.5);
}

/*****************END OF REFERENCED CODE *******************/

.imgRecentThumb {
    height: 200px; 
    width: 200px;
    margin: auto;
}

.imgRecentThumb .diamond-box-inner {
    background-color: #333;
}

.artImgDiamond {
    /*float: left;*/
    height: 200px; 
    width: 200px;
    margin: auto;
}

#artistImgDiamond, #artistImgDiamond img  {
    float: left;
    height: 300px; 
    width: 300px;
    margin: auto;
}

.artImgTmb {
    height: auto; 
    width: 200px;
}

.artImgTmbHor {
    height: 200px; 
    width: auto;
}

.socialMediaIcons a:hover, .socialMediaDiv a:hover {
    background-color: #52AB7E;
    opacity: 0.5;
    font-size: 0px;
} 

.artworkRow, .artworkRow .row {
    padding-top: 1em;
    padding-bottom: 2em;
}

#portfolioHeader {
    color: #0A8945;
    text-align: center;
    font-size: 50px;
}

.portHeaderImg .carousel-caption {
    bottom: 35%;
}

.portHeaderImg:hover {
    color: #0A8945;
    background-color: #52AB7E;
    opacity: 0.5;
}

#sculptureHeader, #graphicHeader, #printHeader {
    color: #fff;
}

/*** Modal **/
#expandedImg {
    height: 600px;
    width: auto;
}

.modal-body, .modal-footer {
    text-align: center;
}

.modal-lg {
    width: 1100px;
}



/*** Contact Page ***/
.contactRow, .contactRow div {
    height: 100%;
}

.triangle-right-nonResponsive {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 250px 0 250px 50px;
    border-color: transparent transparent transparent #ccc;
}

.contactTriangle {
    padding: 0;
}

.contactInfo {
    background-color: #ccc;
    height: 100%;
    padding-bottom: 1em;
}

.socialMediaIcons {
    text-align: center;
}

form div{    
    padding-top: 1em;
    text-align: right;
}

form .contactLabel {
    text-align: left;
}

form div .btn {
    margin: auto;
}

.contactFormCol {
    color: #fff;
}

#contactMsgSent, #contactMsgNotSent {
    font-size: 18px;

}

#contactMsgSent {
    color: #0A8926;
}

#contactMsgNotSent {
    color: #f00;
}

/****** ABOUT PAGE ******/
.aboutRow {
    background-color: #ccc;
    padding-top: 2em;
    padding-bottom: 3em;

}

.aboutRow p {
    font-size: 18px;
    line-height: 1.75em;
    padding: 0em 5em 1.1em 0.4em;
}

.portHeader {
    background-color: #0A8945;
    padding: 0 50px 1em 1em;
}

#aboutHeader {
    background-color: #0A8945;
}

#aboutHeader h1{
    color: #fff;
}

/*
 * Original Code from: codepen
 * Reference: http://codepen.io/danielsmcclintock/pen/ljeis
 */
.aboutRow {
    position: relative;
    height: 100%;
    float: left;
    z-index: 1;
}

.portHeader, #aboutHeader {
    position: relative;
    height: 100%;
    z-index: 1;
}

.aboutRow:after {
    content: "";
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
    right: 0;
    border-left: 400px solid #ccc; /* razorblade color */
    border-top: 370px solid #222; /* page background color */
}

.portHeader:after {
    content: "";
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
    right: 0;
    border-left: 50px solid #0A8945; /* razorblade color */
    border-top: 70px solid #222; /* page background color */
}

#aboutHeader:after {
    content: "";
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
    right: 0;
    border-left: 50px solid #0A8945; /* razorblade color */
    border-top: 80px solid #222; /* page background color */
}
/*****************END OF REFERENCED CODE *******************/